AUTH_SECRET=your-random-secret-here
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret
AUTH_GITHUB_ID=your-github-oauth-app-client-id
AUTH_GITHUB_SECRET=your-github-oauth-app-client-secret
NEXTAUTH_URL=https://dev.efferves.live
DDB_TABLE_USERS=aquascape-users-dev
AWS_REGION=us-east-1
